<style>
    nav {
        display: flex;
        width: 100%;
        justify-content: space-evenly;
        flex-basis: 100px;
        background-color: greenyellow;
        align-items: center;
        height: 4rem;
    }

    .navitem {
        display: flex;
        justify-content: center;
        color: black;
        height: 100%;
        align-items: center;
        background-color: greenyellow;
        font-size: 2rem;
        text-decoration: none;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        border-right: 0.2rem;
        border-left: 0px;
        border-top: 0px;
        border-bottom: 0px;
        border-color: black;
        border-style: solid;
        flex-grow: 1;
    }
</style>
<nav>
    <a href="/" class="navitem">Mr C0d3r H4ck3r</a>
    <a href="/pwn" class="navitem">Pwn</a>
    <a href="/web" class="navitem">Web</a>
    <a href="/htb" class="navitem">HTB Writeups</a>
</nav>