<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Score</title>
    <style>
        body {
            background-color: azure;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: 0;
        }

        li {
            font-size: 24px;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
        }
    </style>
</head>

<body>
    <h1>Student Information : {{token}} </h1> {% for student in students %} <ul>
        <li><strong>Name:</strong> {{ student.name }}</li>
        <li><strong>Roll:</strong> {{ student.roll }}</li>
        <li><strong>Average Marks:</strong> {{ student.marks }}</li>
        <li><strong>Description:</strong> {{ student.description }}</li>
    </ul> {% endfor %}
</body>

</html>