<!DOCTYPE html>
<html>

<head>
    <title>Mr C0d3r H4ck3r</title>
    <link href="css/index.css" rel="stylesheet">
</head>

<body>
    <%- include('partials/navbar.ejs') %>
        <h2>Welcome! This is where i post my writeups</h2>
</body>

</html>