<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Random</title>
</head>

<body>
    <p> Random no: <%= n %>
    </p>
    <p> Name: <%= name %>
    </p>
    <%for(let i=0; i < 10; i++) { %>
        <%= i %>
            <% } %>
</body>

</html>